/* HexGrid.css */
body {
  overflow: hidden;
}

.hex-grid {
  position: absolute;
  top: 42%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.hex {
  position: absolute;
  color: #fff;
  background-color: #424242;
  clip-path: polygon(25% 0%, 74% 0%, 99% 50%, 74% 99%, 25% 99%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex:hover {
  background-color: rgba(255, 217, 0, 0.442);
  box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.7);
}